//navbar
    
.lien
    border-top: solid white
    border-bottom: solid white
    height: 50px

.h-lien:hover
    background-color: red
    padding: 0
    text-decoration: none

.nav
    height: 110px

.filter
    filter: brightness(0.4)
