//navbar
    
.lien
    border-top: solid white
    border-bottom: solid white
    height: 50px

.h-lien:hover
    background-color: #dd003f
    padding: 0
    text-decoration: none

.nav
    height: 110px

.filter
    filter: brightness(0.4)


.text-position
    margin-bottom: 300px
    color: white
    font-family: 'Courgette', cursive

.span-color
    color: #dd003f
    text-transform: uppercase

.h-text
    font-size: 70px

.badge
    text-transform: uppercase
    font-family: none
    border-radius: 10rem
    font-size: 20px
    background-color: white
    padding: 15px

.h-badge:hover
    background-color: #dd003f
    text-decoration: none

.carousel-indicators li
    border-radius: 50%
    width: 20px
    height: 20px