//navbar
    
.lien
    border-top: solid white
    border-bottom: solid white
    height: 50px

.h-lien:hover
    background-color: #dd003f
    padding: 0
    text-decoration: none

.nav
    height: 110px

.filter
    filter: brightness(0.4)


.text-position
    margin-bottom: 300px
    color: white
    font-family: 'Courgette', cursive

.span-color
    color: #dd003f
    text-transform: uppercase

.h-text
    font-size: 70px

.badge
    text-transform: uppercase
    font-family: none
    border-radius: 10rem
    font-size: 20px
    background-color: white
    padding: 15px

.h-badge:hover
    background-color: #dd003f
    text-decoration: none

.carousel-indicators li
    border-radius: 50%
    width: 20px
    height: 20px

//navbar + bg fin

h1
    font-family: 'Courgette', cursive
    display: flex
    justify-content: center

.bg-repeat
    background-image: url(../../../git_bootstrap_les_chefs/public/images/main_bg.jpg)

.div-interieur
    background-color: white
    border: solid black 1px

.border-b
    display: flex
    justify-content: center
    padding-top: 50px

.p-bot-img
    padding-bottom: 50px

.center-img
    display: flex
    justify-content: center

.m-section1
    text-align: center

.w-container
    width: 50%

.width-section1
    width: 85%

.box-top-left
    position: absolute
    top: 0px
    left: 0px

.p-relative
    position: relative

.box-top-right
    position: absolute
    top: 0px
    right: 0px

.box-bot-left
    position: absolute
    bottom: 0px
    left: 0px

.box-bot-right
    position: absolute
    bottom: 0px
    right: 0px

    // fin section 1

    // section  2

.bg-section2
    background-image: url(../../../git_bootstrap_les_chefs/public/images/team_background.jpg)
    padding-bottom: 50px

.span-color1
    color: white

.border-color
    border-bottom: solid white 1px
    display: flex
    justify-content: center
    padding-top: 50px

.border-img
    border-bottom: solid white 0.5px

.text-white
    color: white
    text-align: center

    //section 2 finie

    //section 3

.div-book
    text-align: center
    padding: 50px

.img-book
    border-radius: 2rem
    width: 70%

.input-radius
    border-radius: 10px
    margin: 10px
    outline: none
    background-color: white
    height: 50px


.bg-book-menu
    background-image: url(../../../git_bootstrap_les_chefs/public/images/book_table_bg.jpg)

.span-bold
    font-weight: bold
    font-size: 20px

.padding-0
    padding: 0

.w-container-section2
    width: 80%

.img-radius
    border-radius: 2rem
    border: solid 4px grey

.bg-color-red
    background-color:  #dd003f
    border-radius: 5px
    margin-top: -15px
    max-width: max-content
    display: flex
    justify-content: center
    position: absolute
    color: white
    align-items: center
    margin-left: 90px

.bold-text
    font-weight: bold
    font-size: 20px

h5
    font-weight: bold

.badge-s3
    background-color: #dd003f
    text-transform: uppercase
    font-family: none
    border-radius: 10rem
    font-size: 20px
    padding: 15px
    margin: 50px

.h-badge-s3:hover
    background-color: grey
    text-decoration: none

    // section 3 finie

    // section 4

.image-radius-50
    border-radius: 50%
    border: solid grey 4px
    padding: 0

.cadre
    border: grey 2px solid
    border-radius: 10px

.span-color-red
    color: #dd003f

.color-white
    color: white

.bg-section4
    background-image: url(../../../git_bootstrap_les_chefs/public/images/testimonials_background.jpg)

    //section 4 finie

    //section 5

.border-s5
    border-radius: 10px
    background-color: #dd003f
    height: 500px
    margin-bottom: 50px


    //section 5 finie
    
    //section 6

.button-s6
    background-color: #dd003f
    border: solid white 1px
    border-radius: 20px
    color: white
    padding: 5px
    margin: 5px

.flex-warp
    display: flex
    flex-wrap: wrap

.taille-s6
    height: 300px

.h-button-s6:hover
    background-color: white
    text-decoration: none
    color: #dd003f

.h-color-red:hover
    color: #dd003f

.bg-s6
    background-image: url(../../../git_bootstrap_les_chefs/public/images/team_background.jpg)

    //section 6 finie

    //section 7
    
.s7
    height: 100px
    background-color: #dd003f